
<footer>Copyright ECOM 2023 <span id="date"></span></footer>
<script>
let date = new Date();
document.getElementById('date').innerHTML = `${date.toLocaleDateString()} ${date.toLocaleTimeString()}` ;
</script>​